header {
    margin: 0 auto;
    display:block;
    width: 100%;
    text-align:center;
}

header h2 {
    font-size: 40px;
    color: #776E65;
    font-family:Arial;
}
header a {
    display: block;
    margin: 20px auto;
    width: 100px;
    padding: 10px 10px;
    background-color: #8f7a66;
    font-family: Arial;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

header p {
    font-size: 20px;
    color: #8F7A66;
    font-family: Arial;
    margin: 20px auto;
}

.board {
    margin: 15px auto;
    background-color: #bbada0;
    position: relative;
}
.grid-cell {
    width: 100px;
    height: 100px;
    background: #ccc0b3;
    border-radius: 10px;
    position: absolute;
}

.number-cell {
    font-family: "Microsoft YaHei", "微软雅黑";
    font-weight: bold;
    text-align: center;
    position: absolute;
}

.gameover{
    display:block;
    margin: 0 auto;
    width:500px;
    text-align:center;
    vertical-align:middle;
    position:absolute;
}

.gameover p{
     font-family:Arial;
     font-size: 50px;
    color:white;
    margin:20px auto;

    margin-top:150px;
}

.gameover span{
    font-family:Arial;
    font-size:50px;
    color:white;
    margin:20px auto;
}

#restartgamebutton{
    display:block;
    margin:20px auto;
    width: 180px;
    padding:10px 10px;
    background-color: #8f7a66;

    font-family:Arial;
    font-size:30px;
    color:white;

    border-radius:10px;
    text-decoration:none;
}

#restartgamebutton:hover{
    background-color: #9f8b77;
}